<p id="notice"><%= notice %></p>

<% @product.each do |product| %>
<p>
  <strong>Product title:</strong>
  <%= product.product_title %>
</p>

<p>
  <strong>Product info:</strong>
  <%= product.product_info %>
</p>

<p>
  <strong>Product info:</strong>
  <%= product.product_info %>
</p>

<p>
  <strong>Product info:</strong>
  <%= product.product_info %>
</p>

<p>
  <strong>Product info:</strong>
  <%= product.product_info %>
</p>

<p>
  <strong>Product info:</strong>
  <%= product.product_info %>
</p>

<p>
  <strong>Product info:</strong>
  <%= product.product_info %>
</p>



<% end %>  

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
